---
import { FiExternalLink, FiGithub } from 'react-icons/fi'
import SectionTag from '../atoms/SectionTag'
import Link from '../atoms/Link.astro'

export interface Props {
  owner: string
  title: string
  subtitle: string
  details: string[]
  tags: string[]
  imageSrc: string
  links: {
    demo?: { label: string; link: string }
    github?: { label?: string; link: string }
  }
}

const { owner, title, subtitle, details, tags, imageSrc, links } = Astro.props
---

<div class='flex flex-col gap-8 py-12 lg:flex-row lg:py-24'>
  <section data-stagger='30' class='animate-on-scroll w-full flex-1 xl:flex-none xl:w-1/3'>
    <div class='space-y-4 lg:mt-6'>
      <div class='fade-in-right stagger'>
        <SectionTag uppercase={true} title={owner} />
      </div>
      <div>
        <h2 class='fade-in-right stagger text-3xl font-medium text-white md:text-4xl xl:text-5xl'>{title}</h2>
        <p class='fade-in-right stagger mt-1 text-base text-zinc-500'>{subtitle}</p>
      </div>

      <div class='space-y-2'>
        {details.map((detail) => <p class='fade-in-right stagger max-w-xl'> {detail} </p>)}
      </div>

      <div class='flex gap-x-6 sm:gap-x-10 gap-y-2 flex-wrap'>
        {tags.map((tag) => <p class='fade-in-right stagger text-sm text-zinc-500'>{tag}</p>)}
      </div>

      <div class='flex flex-wrap gap-2 sm:gap-5 mt-5 *:[div]:outlne utline '>
        {
          links?.github?.link && (
            <div class='fade-in-right stagger'>
              <Link>
                <FiGithub />
                {links?.github?.label || 'View Source Code'}
              </Link>
            </div>
          )
        }
        {
          links?.demo?.link && (
            <div class='fade-in-right stagger'>
              <Link>
                <FiExternalLink />
                {links?.demo?.label || 'Visit Website'}
              </Link>
            </div>
          )
        }
      </div>
    </div>
  </section>

  <section class='animate-on-scroll fade-in-left flex-1 flex items-center justify-end'>
    <div class='bg-level-100 ring-primary-dark aspect-video w-full overflow-hidden rounded-lg ring-3'>
      <img class='h-full w-full object-cover' src={imageSrc} />
    </div>
  </section>
</div>
